continuum_Schartmann_BLR_0.0_-0.800_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-1.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.600_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-3.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.600_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.700_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-2.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.600_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.700_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.125_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-2.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-1.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-3.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.120_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-1.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-3.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.125_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.150_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-1.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-1.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.800_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.125_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.150_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.120_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.120_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.800_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.150_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-1.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-1.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-1.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-3.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.800_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.700_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.600_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.300_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-2.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_-2.000_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.120_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.400_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.700_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.150_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_-0.050_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_BLR_0.0_0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_Schartmann_NLR_0.0_-0.125_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.100_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_-0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_BLR_0.0_0.200_Cig.dat filter=lfs diff=lfs merge=lfs -text
continuum_SKIRTOR_NLR_0.0_0.500_Cig.dat filter=lfs diff=lfs merge=lfs -text
lines_Schartmann_NLR_0.0_Cig.dat filter=lfs diff=lfs merge=lfs -text
lines_SKIRTOR_BLR_0.0_Cig.dat filter=lfs diff=lfs merge=lfs -text
lines_SKIRTOR_NLR_0.0_Cig.dat filter=lfs diff=lfs merge=lfs -text
lines_Schartmann_BLR_0.0_Cig.dat filter=lfs diff=lfs merge=lfs -text
list_delta.dat filter=lfs diff=lfs merge=lfs -text
list_density_BLR.dat filter=lfs diff=lfs merge=lfs -text
list_density_NLR.dat filter=lfs diff=lfs merge=lfs -text
list_logU.dat filter=lfs diff=lfs merge=lfs -text
list_zetas.dat filter=lfs diff=lfs merge=lfs -text
line_wavelengths_AGN.dat filter=lfs diff=lfs merge=lfs -text
